agno
annotated-doc
annotated-types
anyio
arxiv
attrs
beautifulsoup4
brotli
certifi
cffi
charset-normalizer
click
colorama
contourpy
cryptography
curl-cffi
cycler
ddgs
distro
dnspython
docstring-parser
email-validator
fake-useragent
fastapi
fastapi-cli
fastapi-cloud-cli
fastar
feedparser
fonttools
frozendict
gitdb
gitpython
greenlet
grpcio
h11
h2
hpack
httpcore
httptools
httpx
httpx-sse
hyperframe
idna
jinja2
jiter
jsonschema
jsonschema-specifications
kiwisolver
lxml
markdown-it-py
markupsafe
matplotlib
mcp
mdurl
multitasking
numpy
ollama
openai
packaging
pandas
patsy
peewee
pillow
platformdirs
portalocker
primp
protobuf
psycopg
psycopg-binary
pycparser
pydantic
pydantic-core
pydantic-extra-types
pydantic-settings
pygments
pyjwt
pyparsing
pypdf
python-dateutil
python-dotenv
python-multipart
pytz
pywin32
pyyaml
qdrant-client
referencing
requests
rich
rich-toolkit
rignore
rpds-py
scipy
seaborn
sentry-sdk
sgmllib3k
shellingham
six
smmap
sniffio
socksio
soupsieve
sqlalchemy
sse-starlette
starlette
statsmodels
tqdm
typer
typing-extensions
typing-inspection
tzdata
urllib3
uvicorn
watchfiles
websockets
yfinance
